/ {
    aliases {
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
    };

    gpio {
        compatible = "gpio-leds";
        
        
        led0: led_0 {
            
            
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;  // Use GPIO2
            
        };
        
        led1: led_1 {
            

            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;  // Use GPIO2
            
        };
        led2: led_2 {
            

            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;  // Use GPIO2
            
        };
      
    };

};
